* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 10px;
  background: linear-gradient(#484b5b, #2c2d35);
}
main {
  margin-top: 48.6px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

/*                            Menu */
header {
  width: 100%;
  height: 47px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #868794;
  background: #484b5b;
  z-index: 100;
}
.scroll-bar-items {
  width: 100%;
  line-height: 47px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.scroll-bar-item {
  display: inline-block;
  font-size: 14px;
  color: white;
  opacity: 50%;
  transition: 0.15s ease-in;
}
.li-active {
  opacity: 100%;
  border-bottom: 2px solid white;
  cursor: pointer;
}
/*                            Current Weather */
.current-weather-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
.current-date {
  width: fit-content;
  line-height: 30px;
  padding: 0px 15px;
  background-color: #32333e;
  border-radius: 50px;
}
#currentDate {
  color: #9b9ead;
  font-size: 12px;
}
.curent-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.weather-icon,
.weather-temperature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.weather-icon img {
  max-height: 130px;
}
#temperature {
  font-size: 72px;
  line-height: normal;
  font-weight: bold;
  background: -webkit-linear-gradient(30deg, #a2a4b5, #545760);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.18));
}
#weatherStatus {
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
}
/*                            Horizontal Line */
.horizontal-line {
  height: 1px;
  width: 90%;
  background-color: #979797;
  opacity: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*                            Other Details */
.other-details-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details-item-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.detail-item p {
  color: white;
  font-size: 12px;
}
.detail-item img {
  max-width: 70px;
  padding-right: 15px;
}
/*                            Hourly weather */
.hourly-weather-heading {
  color: white;
  font-size: 12px;
  text-align: center;
  opacity: 50%;
}
.hourly-weather-section {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.hourly-weather-scroller {
  width: 100%;
  overflow: hidden;
  cursor: grab;
}
.hourly-weather-items {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, auto);
  gap: 15px;
}
.hourly-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #545760;
  border-radius: 50px;
  padding: 16px 8px;
  gap: 10px;
  user-select: none;
  opacity: 50%;
}
.hourly-item-active {
  opacity: 100%;
  border: 2px solid white;
}
.hourly-item-time {
  font-size: 16px;
  color: white;
}
.hourly-item img {
  max-width: 25px;
}
.hourly-item-temp {
  font-size: 15px;
  font-weight: 300;
  color: white;
}
/*                            Daily weather */
.daily-weather-section {
  width: 100%;
  padding: 20px;
}
.daily-weather-bg {
  background: linear-gradient(0deg, #2f313a 10.45%, #232329 100%);
  border-radius: 16px;
  padding: 16px 26px;
}
.daily-weather-head {
  width: 100%;
  direction: rtl;
  color: white;
  opacity: 20%;
  font-size: 12px;
  word-spacing: 10px;
  margin-bottom: 25px;
}
.week-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.week-day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.week-day-static {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.week-day-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.week-day-active-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, auto);
}
.wd-active-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.week-day p {
  color: white;
  font-size: 15px;
}
.week-day-right-column,
.week-day-left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.week-day-left-column {
  gap: 10px;
}
.week-day-right-column {
  gap: 28px;
}
.weekday-img-and-degree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.weekday-img-and-degree img {
  max-width: 20px;
}
/*                            Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 70%;
  z-index: 101;

  display: none;
}
.overlay-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  padding: 20px;
  width: 90%;
  background-color: white;
  border-radius: 6px;

  display: none;
}
.overlay-card h3 {
  color: red;
  text-align: center;
}

